{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}Page 1{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Page 1</h1>
    <br>
    <p> Hi {{ response1 }}, based on your information you should be able to throw a baseball {{ velo }} miles per hour.</p>
  	<br> 
	<p> For further information, please visit this <a href="https://danblewett.com/throwing-velocity-benchmark-1mph-per-kg/">link</a> going more in-depth into the affects of height and weight on fastball velocity.</p>
{% endblock %}
